#pinkButton{
    background-color:pink;
}

/* #flowerBg{
    background-image: url("");
} */

body{
    background-image:url("/img/largeMarbel.jpg");
   
}

.whiteBackground{
    background-color: white;
}

.marbelBackground{
    
        background-image: url("/img/largeMarbel.jpg");
        

}
#marbelBackground {

    background-image: url("/img/largeMarbel.jpg");


}

#oswaldText{
    font-family: 'Oswald', sans-serif;
}

#exploraText{
    font-family: 'Explora', cursive;
    font-family: 'Oswald', sans-serif;
}

#fontSize{
    font-size: 100px;
}

.gradientBackground{
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#nosiferText{
   
    font-family: 'Nosifer',
    cursive;
    
}

#fjallaText{
    font-family: 'Fjalla One', sans-serif;
}

#greetingHeader{
    height: 200px;
}

#blogPostHeight{
    height: 500px;
}

#microsoftStackCard{
    height: 300px;
}

.modal{
    height: 500px;
}